body{
   
}
.header-container{
    
    width: 100%;
    height: 700px;
    top: 0;
    
}
.header-container img{
   width: 100%;
   height: 700px;
   object-fit: cover;
}
.about-container{
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
}

.about-container h1{
    text-align: center;
    color: #FFD800;
    font-size: 40px;
}

.about-container .col1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.navbar{
    z-index: 999;
}
.about-container .col2{
    display: flex;
    align-items: center;
}
.about-container .row{
    margin-top: 40px;
}
.about-container .row .col2 p{
    margin-top: 30px;
}
.about-container p{
    color: #FFD800;
    font-size: 23px;
    text-align: center;
}
.about-container img{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}
.blog-preview span p{
    color: white;
}

main span{
    background-color: rgb(77, 63, 63);
    z-index: -1;
    padding-top: 20px;
    margin-top: 50px;
}
.keunggulan p{
    color: #FFD800;
}

.floating {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;    
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.fab-icon {
    margin-top: 16px;
}
.contact-container{
    background-color: rgb(17, 17, 17);
    height: 400px;
    width: 100%;
    padding: 20px 40px;
    margin: 0;
}
.contact-container .row{
    margin: 0;
}
.contact-container h3{
    text-align: center;
    color: white;

}
.contact-container hr{
    border: 1px solid white;
}
.contact-container p{
    color: white;
}
.contact-container .contact-item{
    padding: 10px;
}
.header-content h1{
    padding: 0;
    margin: 0;
}
